@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

.dotted {
  background-image: radial-gradient(
    circle at 1px 1px,
    black 2px,
    transparent 0
  );
  background-size: -50px -30px;
}

.dotted:not(.light) {
  background-image: radial-gradient(
    circle at 1px 1px,
    rgb(120, 113, 113) 2px,
    transparent 0
  );
  background-size: 50px 30px;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

.gradientText {
  background: #1748e9;
  background: -webkit-linear-gradient(
    to right,
    #0ea8cf 18%,
    #520681 50%,
    #a312cf 50%,
    #0e4fcf 88%
  );
  background: -moz-linear-gradient(
    to right,
    #0ea8cf 18%,
    #520681 50%,
    #a312cf 50%,
    #0e4fcf 88%
  );
  background: linear-gradient(
    to right,
    #0ea8cf 18%,
    #520681 50%,
    #a312cf 50%,
    #0e4fcf 88%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// ant global classes modified
.ant-input-affix-wrapper{
  @apply dark:bg-gray-800 dark:text-gray-100 active:ring-1 active:ring-cyan-600;
} 
.ant-input-affix-wrapper > input.ant-input{
  @apply pl-2 py-1 rounded-sm dark:bg-gray-500 text-gray-900 dark:text-gray-200;
}

.ant-input-affix-wrapper .ant-input-suffix{
  .ant-input-clear-icon{
    @apply dark:text-gray-100;

  }
  
  .ant-input-show-count-suffix{
    @apply dark:text-gray-100;
  }
}

.ant-timeline .ant-timeline-item-head-custom{
  padding: 0;
  margin: 0;
  font-size:36px;
}

.ant-timeline-item-tail{
  @apply bg-gray-900 dark:bg-gray-100;
}
.ant-timeline.ant-timeline-alternate .ant-timeline-item-head{
  border-radius: 100% !important;
  font-size:36px;
}

.css-blurry-gradient {
  position: absolute;
  top: 0;
  transform: translate(-15%, -15%);
  width: 48px;
  height: 48px;
	border-radius: 50% 22% 40% 80%;  
	filter: blur(5px);
  background: radial-gradient(circle at 50% 50%,rgba(76, 0, 255, 1), rgba(76, 0, 255, 0));
  opacity: 0.5;
  z-index: -1;
}